.texto {
    padding: 2% 10% 10% 10%;
    text-align: justify;
}

.h {
    text-align: center;
}

.titulo {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.carousel {
    padding: 1% 10% 10% 10%;
}

#img1 {
    align-items: center;
    justify-content: center;
}

table {
    padding: 1% 15% 15% 15%;
}