.texto {
    padding: 2rem 5rem 5rem 5rem;
    text-align: justify;
}

.h {
    text-align: center;
}

.arriba {
    text-align: right;    
}

img {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#img1 {
    align-items: center;
    justify-content: center;
}