.texto {
    padding: 2rem 5rem 5rem 5rem;
    text-align: justify;
}

.h {
    text-align: center;
}

.titulo {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.carousel {
    padding: 1% 15% 15% 15%;
}

#img1 {
    align-items: center;
    justify-content: center;
}